body{
    box-sizing: border-box;
    font-size: 16px;
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #58e6f9;
    background: linear-gradient(to right, #58e6f9,#000c);
    color: white;

}


.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 24px;


}

a{
    text-decoration: none;
    color: white;
    border: solid 1px black;
    padding: 10px;
    margin: 8px;
    border-radius: 20px;

}

.title{
    margin-bottom: 50px
}

.subtitle{
    margin-bottom: 50px;
}
